@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Instrument+Serif:ital@0;1&display=swap');

* {
    cursor: none !important;
}

:root {
    --primary-color: #43459C;
    --secondary-color: #F9F7EB;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--secondary-color);
}

.spinner-page,
.home-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-page,
.works-page {
    width: 100%;
    height: 100vh;
}

.folder {
    width: 610px;
    height: 360px;
    margin-top: -66.5px;
}

.folder-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.folder-menu.navigation {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.folder-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: 100%;
    z-index: 7;
    position: relative;
    box-shadow: 10px 16px 16px rgba(0, 0, 0, 0.2);
}

.folder-content .welcome-title {
    font-size: 4rem;
    font-family: "Instrument Serif", sans-serif;
    color: var(--secondary-color);
    font-weight: lighter;
    font-style: italic;
}

.folder-menu a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Comfortaa", sans-serif;
    color: var(--secondary-color);
    font-weight: lighter;
}

.home-link,
.about-link,
.works-link {
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transition: transform 0.3s ease;
    height: 86.5px;
    margin-bottom: -20px;

    &:hover {
        transform: translateY(-20px);
    }
}

.home-page .folder-menu:not(.navigation) .home-link,
.home-page .folder-menu:not(.navigation) .about-link,
.home-page .folder-menu:not(.navigation) .works-link {
    height: 86.5px;
    margin-bottom: -30px;

    &:hover {
        transform: translateY(-10px);
    }
}

.home-link {
    box-shadow: 10px 4px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.about-link {
    box-shadow: 10px 4px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 4;
}

.works-link {
    box-shadow: 10px 4px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.folder-menu a.active::after {
    content: " ]";
}

.folder-menu a.active::before {
    content: "[ ";
}

#about,
#works {
    max-width: 800px;
    padding-bottom: 146.5px;
    margin: 0 auto;
}

.section-title {
    font-size: 64px;
    font-family: "Instrument Serif", sans-serif;
    color: var(--primary-color);
    font-weight: lighter;
    margin-top: 80px;
    position: relative;
}

/* RESPONSIVE DESIGN ******************************/

@media (max-width: 860px) {
    .folder {
        padding: 20px;
        height: 300px;
    }

    .folder-menu {
        height: 46.5px;
    }

    .folder-menu a {
        font-size: 14px;
    }

    .about-page, .works-page {
        padding: 20px 40px;
    }

    .about-socials {
        gap: 10px !important;

        .social-link a {
            font-size: 16px !important;
        }
    }

    .about-avatar {
        display: none;
    }

    .section-title {
        font-size: 48px;
        margin-top: 20px;
    }

    .about-content {
        margin-top: 30px !important;
        font-size: 18px !important;
    }

    .cv-link {
        margin-top: 10px !important;
    }

    .cv-link a {
        font-size: 18px !important;
    }

    .about-actions {
        flex-direction: column;
        gap: 10px !important;
    }

    .folder-menu.navigation {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        a {
            height: 66.5px;
        }
    }

    #about {
        padding-bottom: 0px;
    }

    .work img {
        height: auto !important;
        width: 100% !important;
    }

    .info {
        left: -30px !important;
        top: 0 !important;
        width: 64px !important;
        height: 64px !important;
        background-color: var(--primary-color) !important;
        color: var(--secondary-color) !important;
    }

    .more-info {
        left: -240px !important;
        top: 0 !important;

        background-color: var(--primary-color) !important;
        color: var(--secondary-color) !important;
    }

    .cursor {
        display: none !important;
    }
}