@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100dvh;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.folder {
    position: absolute;
}

.menu {
    position: absolute;
    top: 110px;
    left: 50%;
    z-index: 1000;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 515px;
    margin-left: -5px;
}

.menu a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 2rem;
    font-family: "Comfortaa", sans-serif;
}

.menu a.active::after {
    content: "]";
    margin-left: 5px;
    position: absolute;
}

.menu a.active::before {
    content: "[";
    position: absolute;
    margin-left: -15px;
}